* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 140px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 50px;
  position: fixed;
  z-index: 99;
}

#nav img {
  height: 80px;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 400;
}

#video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
